<extend name="Public:common" />


<block name="content">

<div class="am-cf am-padding">
    <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">新增新闻</strong> / <small>add</small></div>
  </div>
<form class="am-form" method="post" action="{: U('News/add')}" >
          <div class="am-g am-margin-top">
            <div class="am-u-sm-4 am-u-md-2 am-text-right">
              标题
            </div>
            <div class="am-u-sm-8 am-u-md-4">
              <input type="text" class="am-input-sm" name="title">
            </div>
            <div class="am-hide-sm-only am-u-md-6">*必填</div>
          </div>
                    <div class="am-g am-margin-top">
            <div class="am-u-sm-4 am-u-md-2 am-text-right">
             链接
            </div>
            <div class="am-u-sm-8 am-u-md-4 am-u-end col-end">
              <input type="text" class="am-input-sm" name="herf" value="http://">
            </div>
          </div>

          <div class="am-g am-margin-top">
            <div class="am-u-sm-4 am-u-md-2 am-text-right">
             时间
            </div>
            <div class="am-u-sm-8 am-u-md-4 am-u-end col-end">
              <input type="date" class="am-input-sm" name="date">
            </div>
          </div>

          <div class="am-g am-margin-top">
            <div class="am-u-sm-4 am-u-md-2 am-text-right">
            内容
            </div>
            <div class="am-u-sm-8 am-u-md-4 am-u-end col-end">
            <textarea  cols="70" rows="13"  name="content" id="content"></textarea>
            </div>        
          </div>
            

<div class="am-margin">
    <button type="submit" class="am-btn am-btn-primary am-btn-xs">提交保存</button>

  </div>
        </form>
        <script type="text/javascript">
    CKEDITOR.replace('content',{
        toolbar : 'Full',
        uiColor : '#9AB8F3',
        height:'200'
    });
</script>
</block>